/* line 3, ../compass/sass/style.scss */
.navbar-brand {
  padding: 0;
  height: 0;
  float: none;
}
/* line 7, ../compass/sass/style.scss */
.navbar-brand img {
  width: 100%;
  border-radius: 5px;
}

/* line 14, ../compass/sass/style.scss */
#header {
  position: relative;
  z-index: 3;
}

/* line 25, ../compass/sass/style.scss */
body {
  background: #325252;
  padding-top: 1%;
}

/* line 29, ../compass/sass/style.scss */
.container.B {
  padding: 2% 0% 2% 0%;
  position: relative;
  z-index: 1;
}
/* line 33, ../compass/sass/style.scss */
.container.B #bar {
  width: 100%;
}

/* line 39, ../compass/sass/style.scss */
.flex-viewport .slides img {
  margin: 0 auto;
}

/* line 44, ../compass/sass/style.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  left: -1px;
}

/* line 54, ../compass/sass/style.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}

/* line 60, ../compass/sass/style.scss */
.flexslider .flex-control-nav li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -99999px;
  color: transparent;
  border-radius: 20px;
}

/* line 72, ../compass/sass/style.scss */
.flexslider .flex-direction-nav {
  display: none;
}

/* line 76, ../compass/sass/style.scss */
.container.C {
  position: relative;
  padding: 2% 0% 2% 0%;
  background: #666;
}
/* line 80, ../compass/sass/style.scss */
.container.C #fancyb {
  text-align: center;
}
/* line 84, ../compass/sass/style.scss */
.container.C #img-descript1 {
  padding-left: 15%;
  padding-right: 7.5%;
}
/* line 88, ../compass/sass/style.scss */
.container.C #img-descript2 {
  padding: 0% 7.5% 0% 7.5%;
}
/* line 92, ../compass/sass/style.scss */
.container.C #img-descript3 {
  padding-right: 15%;
  padding-left: 7.5%;
}

/* line 98, ../compass/sass/style.scss */
.container.D {
  position: relative;
  padding: 3% 0% 3% 0%;
  color: white;
}
/* line 102, ../compass/sass/style.scss */
.container.D .flexslider {
  border: solid teal 1px;
}
/* line 105, ../compass/sass/style.scss */
.container.D h5 {
  border-bottom: 2px solid gray;
}

/* line 112, ../compass/sass/style.scss */
.container.E {
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  background: #666;
}
/* line 117, ../compass/sass/style.scss */
.container.E h2 {
  border-bottom: 2px solid grey;
}

/* line 122, ../compass/sass/style.scss */
.container.F {
  color: white;
  padding: 1% 0% 1% 0%;
}

/* line 128, ../compass/sass/style.scss */
.container.G {
  padding: 3% 0% 3% 0%;
  background: #666;
  color: white;
}
/* line 132, ../compass/sass/style.scss */
.container.G .col-md-2.col-md-offset-2 {
  text-align: center;
}
/* line 135, ../compass/sass/style.scss */
.container.G .col-md-2.col-md-offset-2.B {
  text-align: right;
}
